ul li {
   list-style-type: circle;
}

li ul li {
   list-style-type: square;
}

img {
   border: 1px solid #021a40;
}

img.homepage { 
   max-width: 830px;
   max-height: 455px;
}

strong {
   font-style: italic;
   font-style: bold;
}

body {
   font-family: 'Alegreya', serif;
}

a {
   color: green;
}

a:hover {
   color: #2f5c29;
}
